
@font-face {
  font-family: 'signature';
  //src:  url('fonts/icomoon.eot?5m9y13');
  src: url('../assets/fonts/signature.svg') format('svg'),
    url('../assets/fonts/signature.eot') format('eot'),
    url('../assets/fonts/signature.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'signature' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.signature:before {
  content: "\e999";
}