
@font-face {
  font-family: 'icomoon';
  //src:  url('fonts/icomoon.eot?5m9y13');
  src: url('../assets/fonts/icomoon.svg') format('svg'),
    url('../assets/fonts/icomoon.eot') format('eot'),
    url('../assets/fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-send:before {
  content: "\e92c";
}
.icon-angle:before {
  content: "\e930";
}
.icon-navbar:before {
  content: "\e931";
}
.icon-x:before {
  content: "\e934";
}
.icon-location:before {
  content: "\ea95";
}
.icon-facebook:before {
  content: "\ea96";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-github:before {
  content: "\e910";
}
.icon-email:before {
  content: "\e926";
}
.icon-linkedin:before {
  content: "\e93d";
}