@use 'reset';
@use 'vars';
@use  'fontsIcon';
@font-face {
  font-family: 'general';
  src: url('../assets/fonts/Comfortaa-Regular.ttf');
}

main.main {
  margin: auto;
  width: 90%;
  font-family: 'general', sans-serif;
  text-align: center;
}
body{
  min-height: 100vh;
  min-height: 100%;
}
h1{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h3{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}