/** style mobile first **/
/* Header */
.headerImg{
  background: #111;
  height: 50vh;
}
.fixed-relative{
  position: relative;
}
.fixed-absolute-top{
  position: absolute;
  top: 30%;
  left: 30%;
}
.p-b-30{
  margin-bottom: 30%;
}
/* Main */
main {
  width: 80%;
  margin: auto;
}
/**style ordi >640px*/
  @media screen and (min-width: 640px) {
  }