@use './src/styles/vars';
.header{
    background: vars.$green;
    position: sticky;
    top: 0;
    width: 100%!important;
    box-shadow: 0 0 0.5rem 0 vars.$color-primary;
    margin: 0 0 2rem 0;
    &-logo {
        width: 10%;
        &:hover{
            width: 12%;
        }
    }
    &-button_close button {
        background: vars.$white;
        border-radius: 100%;
        color: vars.$green;
        font-size: 2rem;
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        &:hover {
            height: 3.5rem;
            width: 3.5rem;
            font-size: 2.4rem;
            transition: all 0.3s ease-in-out;
        }
    }
    &-navbar{

        &-toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }
        &-item{
            font-size: 1.5rem;
            font-weight: 600;
            border-bottom: 0.1rem solid;
            width: 90%;
            margin: auto;
            padding: 1rem;
            &_subtitle{
                font-size: 1.5rem;
                font-weight: 600;
                width: 90%;
                margin: 1rem auto;
                padding: 0 1rem 1rem;
                border-bottom: 0.1rem solid;
                display: flex;
                align-items: center;
                justify-content: space-between;
            
            }  
        }
        &-subtitle-item{
            border-bottom: 0.1rem solid;
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: 300;
            width: 70%;
            margin: auto;
        }
    }
    
}

header.header .header-navbar{
    height: 100vh;
}
@media screen and (min-width: 720px){
    header.header .header-navbar{
        height: auto !important;
        padding: 0 0 2rem 0;
    } 
  }