@use './src/styles/vars';
.home{
  &-paragrah {
    width: 70%;
    margin: auto;
    padding: 1rem;
    border-bottom: 0.1rem solid vars.$color-primary;
  }
  &-map_img {
    width: 31%;
    justify-content: space-around
  }
  &-card{
    &-service{
      width: 100%;
      background: vars.$green;
      margin: 1rem auto;
      padding: 1rem;
      border-radius: 1rem;
      position: relative;
        &:hover{
          opacity: 0.5;
        }
      &_title {
        font-size: 1.2rem;
        font-weight: 700;
        position: absolute;
        padding: 1rem;
        top: 40%;
        left: 0%;
        background: rgb(255, 255, 255, 0.7);
        width: 100%;
      }
    }
    & svg{
      width: 100%;
      height: 20rem;
    }
  }
  &-map {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & a{
      font-weight: bold;
      &:hover{
        color: vars.$green;
      }
    }
  }
  
}

@media screen and (min-width: 720px){
  .home{
    &-cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-bottom: 0.1rem solid vars.$color-primary;
    }
    &-card{
        width: 50%;
        &-service{
          width: 47% !important;

        }
    }
  }
}
@media screen and (min-width: 1020px){
  .home-card{
      width: 30%;
      &-service{
        width: 30% !important;
      }
  }
}